<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
    <link rel="stylesheet" href="/styles/leaderboard.css"></link> 
</head>
<body>
   <div class="animation-area">
       <ul class="box-area">
           <li>◯</li>
           <li>◯</li>
           <li>◯</li>
           <li>◯</li>
           <li>◯</li>
           <li>╳</li>
           <li>╳</li>
           <li>╳</li>
           <li>╳</li>
           <li>╳</li>
           <li>╳</li>
       </ul>
       <div class="main-cont-area">
        <div class="main-cont-div">
            <div class="title-cont">
                <div class="title">LeaderBoard</div>
            </div>
            <%- include ('./partials/position') %>
        </div>
    </div>
       
   </div>
   
</body>
</html>
